# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

#Файл mocks.json, созданный программой
mocks.json

# Папка с логами программы
src/service/logs
src/tmp/**/*
